# Go language specific
bin/*
pkg/*
src/github.com
src/golang.org

# Runtime
log/*
logs/*
*.log

# IDE specific
.idea
*.iml

.classpath
.project
.settings
.metadata/
Servers/
META-INF/
build/
out/

*.pyproj
*.sln
*.suo
*.iml
*.ipr
*.iws

# Vagrant
.vagrant/

# Gradle
.gradle

# OS specific
.DS_Store
nohup.out
*.bak

