.idea
**/*.db
**/*.pyc
logs/
venv/
htmlcov/
cover/
.coverage
.vagrant
*.pyproj
*.sln
*.suo
nohup.out
*.iml
*.ipr
*.iws
*.bak
.classpath
.project
.settings
.svn
.gradle
.idea
.metadata/
.vagrant/
Servers/
META-INF/
build/
out/
bin/